@model StudyDirectionDbWebApp.Models.Group

@{
    ViewBag.Title = "Подробнее";
}

<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Направление подготовки")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudyDirection.StudyDirectionName)
        </dd>

        <dt>
            @Html.DisplayName("Форма подготовки")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudyForm.Form)
        </dd>

    </dl>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Номер студенческого")
        </th>
        <th>
            @Html.DisplayName("Фамилия")
        </th>
        <th>
            @Html.DisplayName("Имя")
        </th>
        <th>
            @Html.DisplayName("Отчество")
        </th>
        <th>
            @Html.DisplayName("Средняя оценка")
        </th>
    </tr>

    @foreach (var item in Model.Students)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentBookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageMark)
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.GroupId }, new { @class = "btn btn-default" })
    @Html.ActionLink("Назад", "Index", null, new { @class = "btn btn-primary" })
</p>
