@model StudyDirectionDbWebApp.Models.Student

@{
    ViewBag.Title = "Удаление";
}

<h3>Вы уверены, что хотите удалить студента?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Фамилия")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayName("Имя")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayName("Отчество")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patronymic)
        </dd>

        <dt>
            @Html.DisplayName("Средний балл")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageMark)
        </dd>

        <dt>
            @Html.DisplayName("Форма обучения")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.Form)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" />
            @Html.ActionLink("Назад", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
